apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  # do not include replicas in the manifests if you want replicas to be controlled by HPA
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: react-frontend
        image: "{{ .Values.frontend.image }}:{{ .Values.frontend.tag }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources:
          requests:
            # memory: "128Mi"
            # cpu: "128m"
            # 经测试这里要提高requests值否则会导致前端容器一直扩容
            memory: "512Mi"
            cpu: "512m"
          limits:
            # memory: "256Mi"
            # cpu: "256m"
            # 由于requests值的改动所以limits值也需要跟着改动
            memory: "1024Mi"
            cpu: "1024m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - port: 3000
    targetPort: 3000
